<section>
    <div class="module-banner">
        <p>Check your risk for COVID‑19</p>
    </div>
    <div class="banner-content">
        <div class="card">
            <div class="card-body">
                <p>
                    Based on best clinical practices, CDC guidelines, illness severity and risk factors like age and pre-existing conditions.
                </p>
            </div>
        </div>

    </div>
    <div class="button-container">
        <button class="btn btn-primary">Get Started</button>
    </div>

</section>
